.fundoCadastro {
    background-image: url(../../assets/balcao.avif);
      background-repeat: no-repeat;
      width: 100%;
      min-height: 100vh;
      background-size: cover;
      background-position: center;
  }